.main-page-slider-contact-us {
    background-image: url("../images/shutterstock_552591889.jpg");
    padding-bottom: 200px;
    background-size: cover;
    position: relative;
    background-position: center;
}

.main-page-slider-contact-us h1 {
    color: white;
    font-weight: bold;
    font-size: 62px;
}

.main-page-slider-contact-us .for-slider .social-icons ul {
    list-style: none;
}

.main-page-slider-contact-us .for-slider .social-icons ul li {
    color: #ffff;
    margin-bottom: 25px;
}

.main-page-slider-contact-us .for-slider .social-icons ul li a {
    color: #ffff;
}

.main-page-slider-contact-us .for-slider {
    position: relative;
    padding-top: 50px;
}

.main-page-slider-contact-us .for-slider .social-icons {
    position: absolute;
    top: 14%;
    bottom: 0;
    padding: 0px 30px;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.activ {
    color: #52b68d;
}

.fourth-box {
    margin-top: 5rem;
}

.fourth-box .green-button {
    background-color: #52b68d;
    padding: 12px 40px;
    color: white;
    text-decoration: none;
}

.fourth-box .green-back {
    background-color: #ebfff7;
    padding: 50px 50px 204px 80px;
    position: relative;
    z-index: 1;
    margin-top: 40px;
}

.fourth-box .img-box img {
    width: 100%;
    position: absolute;
    right: 78px;
    z-index: 2;
    height: 440px;
    object-fit: cover;
    object-position: center;
    top: -150px
}

.fourth-box .img-box {
    position: relative;
}

.fourth-box .green-back h1 {
    color: #52b68d;
}

.fourth-box .green-back .solid {
    width: 5%;
    border-top: 2px solid #52b68d;
    margin: 0;
}

.fourth-box .green-rectangle {
    position: absolute;
    z-index: 2;
    bottom: 0px;
    right: 120px;
}

.help-form {
    margin-top: 5rem;
    background-image: url("../images/BG.jpg");
    height: 250px;
    background-size: cover;
    color: #ffff;
    padding-top: 45px;
    position: relative;
    padding-bottom: 45px;
    margin-bottom: 20rem;
}

.help-form .for-bg {
    background-color: white;
    color: #000;
    padding: 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: 8px solid #52b68d;
}

.help-form .for-bg h1 {
    font-weight: bold;
}

.help-form .for-bg span {
    color: #999999;
}

.help-form .for-bg .text-green {
    color: #196e4b;
}

.help-form .for-bg .green-button {
    background-color: #52b68d;
    padding: 12px 40px;
    color: white;
    text-decoration: none;
}

.page-footer .btn-outline-secondary {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #52b68d;
    border: #52b68d;
    color: white;
}

.page-footer ul li a {
    color: #858585;
}

.page-footer p {
    color: #858585;
}

.page-footer img {
    padding-bottom: 16px;
}

.main-page-slider-contact-us .for-nav .left-nav ul li a {
    color: #858585;
}

.main-page-slider-contact-us .for-nav .left-nav img {
    border-radius: 50px;
    background-color: #e1e1e1;
    padding: 5px;
}

.main-page-slider-contact-us .for-nav .left-nav .btn-secondary {
    background-color: transparent;
    border: none;
    margin-top: 0px;
}

.main-page-slider-contact-us .for-nav .left-nav ul li a:hover {
    color: #858585;
}

.main-page-slider-contact-us .for-nav .left-nav ul li .dropdown-item {
    color: #858585;
}

.main-page-slider-contact-us .for-nav .navbar-brand {
    margin-right: 6rem;
}

.page-footer .footer-social-icon a {
    color: #999999;
}

.page-footer .footer-social-icon a:hover {
    color: #51b68c;
}

@media (max-width: 575px) {
    .fourth-box .img-box {
        display: none;
    }
    .help-form {
        margin-bottom: 35rem;
    }
    .help-form .for-bg .green-button {
        padding: 12px 32px;
    }
    .fourth-box .green-button {
        padding: 12px 27px;
    }
    .fourth-box .green-rectangle {
        display: none;
    }
    .main-page-slider-contact-us .for-slider .social-icons {
        display: none;
    }
    .main-page-slider-contact-us h1 {
        font-size: 25px;
    }
    .main-page-slider-contact-us .phone-box {
        right: 0px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .help-form {
        margin-bottom: 35rem;
        margin-top: 10rem;
    }
}

@media (max-width: 768px) {
    .main-page-slider-contact-us .for-slider .social-icons {
        padding: 0px 0px;
    }
}

@media (max-width: 991.98px) {
    .main-page-slider-contact-us .for-slider .social-icons {
        padding: 0px 0px;
    }
}

@media (max-width: 1199.98px) {
    .main-page-slider-contact-us .for-slider .social-icons {
        padding: 0px 0px;
    }
}